- add_to_breadcrumbs _("Iterations"), group_iterations_path(@group)
- breadcrumb_title params[:id]
- page_title _("Iterations")

.js-iteration{ data: { full_path: @group.full_path,
  can_edit: can?(current_user, :admin_iteration, @group).to_s,
  has_scoped_labels_feature: @group.licensed_feature_available?(:scoped_labels).to_s,
  iteration_id: params[:id],
  iterations_list_path: group_iterations_path(@group),
  labels_fetch_path: group_labels_path(@group, format: :json, include_ancestor_groups: true),
  preview_markdown_path: preview_markdown_path(@group),
  svg_path: image_path('illustrations/issues.svg') } }
